<h1><%= @player.full_name %></h1>
<p>
  <strong>Game details</strong>
</p>

<p>
  <strong>Number of wins: <%= @player.wins.count %></strong>
</p>

<p>
  <strong>Number of losses: <%= @player.losses.count %> </strong>
</p>

<p>
  <strong>Average score: <%= average_score(@player) %></strong>
</p>

<p>
  <strong>Highest score: <%= highest_score(@player) %></strong>
</p>